$primary: #b53737;
@import '~bootstrap/scss/bootstrap';

.centered-check .form-check-input {
  // position: unset;
  margin-top: 1.25rem;
}

.success-overlay{
  background: rgba(0,255,84,0.35);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}
